.menu-text {
    color: white;
    font-family: 'Patrick Hand', cursive;
    text-shadow: 3px 3px #aa8989;
    font-size: 28px;

}
.menu-text:hover {
    color:rgb(226, 158, 158); 
    text-decoration: none;
}
.navbar {
    background-color: darksalmon;
}
.title {
    color: darkred; 
    font-family: 'Kaushan Script', cursive;
    font-size: 32px;
    text-shadow: 2px 2px 2px #723838;
    -webkit-text-stroke: 0.25px rgb(226, 158, 158);
}
.body {
    background-color: beige;
}

.jumbotron {
    padding-bottom: 20%;
}

.title-2 {
    font-family: 'Patrick Hand', cursive;
    color: black;
    text-shadow: 3px 3px #cccbcb;
    font-size: 62px;
}

.title-3 {
    font-size: 62px;
    font-family: 'Patrick Hand', cursive;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(254,220,220,1) 14%, rgba(254,203,203,1) 21%, rgba(253,171,171,1) 34%, rgba(249,6,6,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.img-fluid {
    float: left; 
}
.titles  {
    color: rgb(137, 97, 143);
    font-family: 'Patrick Hand', cursive;
    text-shadow: 1px 1px #5c4848;
    font-size: 28px;
    
}
.titles:hover {
    color:rgb(226, 158, 158); 
    text-decoration: none;
    
}
.descript {
    color: rgb(70, 68, 68);
    font-family: 'Patrick Hand', cursive;
    font-size: 18px; 
}
